@use './mixins/mixins' as *;
@use './mixins/public' as *;
@include b(message) {
  position: fixed;
  top: 20px;
  left: 50%;
  transition: opacity 0.3s, transform 0.4s, top 0.4s;
  transform: translateX(-50%);
  padding: 6px 16px;
  border-radius: 4px;
  background: #313438;
  box-shadow: 0px 0px 8px 0px rgba(179, 161, 161, 0.5),
    0px 0px 10px 0px rgba(14, 14, 14, 0.3);
  text-shadow: 0px 0px 8px rgba(11, 11, 11, 0.5);
  color: #ffffff;
  @include public-flex;
  display: inline-flex;

  i {
    font-size: 18px;
  }

  @include colorMixin(message) {
    i {
      color: $value;
    }
  }

  @include e(content) {
    @include public-flex;
    justify-content: flex-start;
    flex: 1;

    @include e(left) {
      text-align: center;
    }

    @include e(center) {
      @include public-flex;
      justify-content: flex-start;
      font-size: 12px;
      margin-left: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.vu-message-fade-enter-from,
.vu-message-fade-leave-to {
  opacity: 0;
  transform: translate(-50%, -100%);
}
