@use './mixins/mixins' as *;
@use './mixins/public' as *;

@include b(message-box) {
  width: 360px;
  height: auto;
  background: #1d1e21;
  box-shadow: 0px 0px 10px 0px rgba(14, 14, 14, 0.3);
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;

  @include e(body) {
    display: flex;
    white-space: normal;
    justify-content: flex-start;

    .body-left {
      color: #ffffff;
      opacity: 0.16;
      font-size: 24px;
      margin-right: 12px;
    }

    .body-right {
      flex: 1;
      font-size: 14px;
      color: #ffffff;
      line-height: 22px;
      flex-wrap: wrap;
    }
  }

  @include e(footer) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 33px;

    @include e(btn) {
      width: 64px;
      height: 32px;
      background: rgba(255, 255, 255, 0.08);
      border-radius: 4px;
      border: none;
      outline: none;
      cursor: pointer;
      text-align: center;
      line-height: 32px;
      color: #ffffff;
      font-size: 12px;
      margin-left: 12px;
    }

    .danger-sure {
      background: rgba(11, 113, 230, 1);
    }

    .delete-sure {
      background: rgba(255, 255, 255, 0.08);
      color: #ff4d4f;
    }

    .delete-cancel {
      background: rgba(255, 255, 255, 0.08);
      color: #ffffff;
    }
  }
}

@keyframes message-box-fade-in {
  0% {
    transform: translate3d(0, -100px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes message-box-fade-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -100px, 0);
    opacity: 0;
  }
}

@keyframes modal-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes modal-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.vu-message-box-fade-enter-active {
  animation: modal-fade-in 0.3s !important;

  .vu-message-box {
    animation: message-box-fade-in 0.3s;
  }
}

.vu-message-box-fade-leave-active {
  animation: modal-fade-out 0.3s;

  .vu-message-box {
    animation: message-box-fade-out 0.3s;
  }
}
