ul,
li,
html,
body {
  padding: 0;
  margin: 0;
  list-style: none;
}

html,
body,
#app,
.home {
  height: 100%;
}

[class$='-demo'] h2 {
  color: #409eff;
  text-decoration: underline;
}

[class$='-demo'] p {
  font-size: 14px;
}

.flex {
  display: flex;
}

[class$='-demo'] .btns {
  width: 140px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 4px;
  background: #0b71e6;
  font-size: 12px;
  color: #ffffff;
  margin: 20px;
  outline: none;
  border: none;
  cursor: pointer;
}

[class$='-demo'] .btns:active {
  background: #cccc;
}

[class$='-demo'] .code {
  background: rgba(45, 45, 45, 0.8);
  box-sizing: content-box;
  padding: 20px;
  font-size: 13px;
  color: #7ec699;
  width: 90%;
  border-radius: 4px;
}

[class$='-demo'] .code div {
  margin-bottom: 10px;
}

[class$='-demo'] .tips-block {
  padding: 8px 16px;
  background-color: rgba(64, 158, 255, 0.1);
  border-radius: 4px;
  padding: 20px;
  border-left: 5px solid #409eff;
  margin: 20px 0;
  width: 90%;
}

[class$='-demo'] .tips-block li {
  margin: 10px;
  font-size: 13px;
  font-weight: bold;
}

.red {
  color: red;
}
